
* {
    margin: 0;
    padding: 0;
}
h1 {
    color: #000000;
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: "Serif";
    font-size: 45px;
    text-align: center;
}
.SearchPage {
    text-align: center;
    width: 80%;
    margin: 0 auto;
}
input {
    width: 100%;
    margin: 10px;
    padding: 18px 10px;
    border-radius: 4px;
    border: 1px solid #4e5766;
    box-shadow: 1px 0.5px #888888;
    font-size: 18px;
    font-family: Serif;
}
button {
    padding: 12px 10px;
    width: 20%;
    border-radius: 4px;
    background-color: limegreen;
    color: #ffffff;
    cursor: pointer;
    font-size: 18px;
    margin-bottom: 30px;
}
