.recipeButton {
    width: 100%;
}

#recipeInfoList {
    white-space:pre-wrap;
}

#container {
    white-space:pre-wrap;
    display: flex;

}

#ingredientsList {
    padding: 24px;
}

#instructionsTitle {
    padding: 0;
}
