
.MuiAutocomplete-root {
    text-align: center;
}

.MuiTextField-root {
    width: 50%;
    margin: auto;
}

p {
    color: #000000;
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: "Serif";
    font-size: 20px;
    text-align: center;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.searchButton {
    width: 20%;
    color: limegreen;
    font-size: 18px;
    margin-bottom: 30px;
    padding: 12px 10px;
    width: 20%;
    border-radius: 4px;
}

.buzzButton {
    width: 30%;
}








