
.MuiAutocomplete-root {
    text-align: center;
}

.MuiTextField-root {
    width: 50%;
    margin: auto;
}

.searchButton {
    width: 20%;
    color: limegreen;
}

.buzzButton {
    width: 30%;
}

.SearchPage {
    text-align: center;
}






